/* You can add global styles to this file, and also import other style files */



.chart-collumn__tooltip {
  // color: red;
  // width: 100px;
  // height: 50px;
  padding: 8px;
}

// .chart-collumn__tooltip__bullet {
//   color: red;
// }

.chart-collumn__tooltip__title {
  // font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #484A4D;
  margin: 0px 0px 8px 0px;
}

.chart-collumn__tooltip__bullet::before {
  content: "\2022";
  font-weight: bold;
  margin-right: 5px;
}