<lib-angular-lib></lib-angular-lib>
<lib-circle-progress
  [percent]="90"
></lib-circle-progress>


<div>
  <lib-col
  sm='2'
  lgPush='7'
  xlPush='4'
  className='teste-classe-aqui'
  >

  </lib-col
  >
</div>

<br>
 <br>
 <br>
 <br>
 <br>

<lib-card>
  sdljfhfklhbsl
</lib-card>

<br>
 <br>
 <br>
 <br>
 <br>
<lib-alert
  color="red"
  [style]="{ marginBottom: '32px', position: 'sticky', top: '10px' }"
>
  aaaaaaaa
</lib-alert>

<br>
 <br>
 <br>
 <br>
 <br>

 <lib-text
  type="small"
  state="normal"
  className="testetsetdf"
>
small - normal
</lib-text>
 <lib-text
  type="small"
  state="bold"
  className="testetsetdf"
>
small - bold
</lib-text>

<lib-text
  type="midium"
  state="normal"
  className="testetsetdf"
>
  normal normal
</lib-text>
 <lib-text
  type="midium"
  state="bold"
  className="testetsetdf"
>
  normal bold
</lib-text>

<lib-text
  type="large"
  state="normal"
  className="testetsetdf"
>
  large normal
</lib-text>
 <lib-text
  type="large"
  state="bold"
  className="testetsetdf"
>
  large bold
</lib-text>


 <br>
 <br>
 <br>

 <br>
 <br>
 <br>
 <lib-table>
  <th *ngFor="let item of myThead">{{ item }}</th>
  <tr tbody *ngFor="let item of myBody">
    <td *ngFor="let i of item">{{ i }}</td>
  </tr>
 </lib-table>
 <br>
 <br>
 <br>

 <br>
 <br>
 <br>
 <lib-tag text="4.6" color="red"></lib-tag>
 <br>
 <br>
 <lib-tag text="3.0" color="#007A47"></lib-tag>
 <br>
 <br>
 <br>
 <lib-pointer-info type="midium" text="texto aqui midium" color="red"></lib-pointer-info>
 
 <br>

 <lib-pointer-info type="small" text="texto outro small" color="blue"></lib-pointer-info>
 <br>
 <br>
 <br>
 <div style="display: flex; justify-content: center;">
  <lib-pointer-info color="green" text="Baixo" className="dashboard-component__pointer-info--space-right"></lib-pointer-info>
  <!-- <lib-pointer-info color="yellow" text="Médio" [ngStyle]="{'display': 'flex', 'justify-content': 'center'}"></lib-pointer-info> -->
  <lib-pointer-info color="yellow" text="Médio" [ngStyle]="{'margin-right': '32px'}"></lib-pointer-info>
  <lib-pointer-info color="red" text="Critico"></lib-pointer-info>
</div>
 <br>
 <br>
 <br>

 <lib-icon name="person" [style]="{ marginBottom: '32px' }"></lib-icon>
 <lib-icon name="refresh"></lib-icon>
 <lib-icon name="cart"></lib-icon>
 <lib-icon name="verification"></lib-icon>
 <lib-icon name="atention"></lib-icon>

 <br>
 <br>
 <br>

<lib-container>
  <!-- <lib-col xs="12"> -->
  <!-- <lib-col xs="12" style="padding-right: 10px; padding-top: 10px;"> -->
  <!-- <lib-col xs="12" style="{paddingRight: 10px, paddingTop: 10px}"> -->
  <!-- <lib-col xs="12" style="padding-right: 10px; padding-top: 10px"> -->
  <!-- <lib-col xs="12" style="display: flex"> -->
  <lib-col xs="12" [style]="myStyle">
  <!-- <lib-col xs="12" style="paddingRight: 11px; paddingTop: 10px;"> -->
    <div [ngStyle]="colStyle">
      xs=12
    </div>
  </lib-col>

  <lib-col xs="12" sm="11" md="5" lg="4" xl="5">
    <div [ngStyle]="colStyle">
      xs=12 sm=11 md=5 lg=4 xl=5
    </div>
  </lib-col>

  <lib-col xs="12" sm="9" md="6" lg="2" xl="3">
    <div [ngStyle]="colStyle">
      xs=12 sm=9 md=6 lg=2 xl=3
    </div>
  </lib-col>

  <lib-col xs="12" sm="7" md="9" lg="1" xl="3">
    <div [ngStyle]="colStyle">
      xs=12 sm=7 md=9 lg=1 xl=3
    </div>
  </lib-col>

  <lib-col xs="12" sm="5" md="7" lg="3" xl="4">
    <div [ngStyle]="colStyle">
      xs=12 sm=5 md=7 lg=3 xl=4
    </div>
  </lib-col>

  <lib-col xs="12" sm="5" md="4" lg="4" xl="3">
    <div [ngStyle]="colStyle">
      xs=12 sm=5 md=4 lg=4 xl=3
    </div>
  </lib-col>

  <lib-col xs="12" sm="5" md="4" lg="4" xl="2">
    <div [ngStyle]="colStyle">
      sm=12 md=5 xs=4 lg=4 xl=2
    </div>
  </lib-col>

  <lib-col xs="12" sm="5" md="7" lg="4" xl="1">
    <div [ngStyle]="colStyle">
      xs=12 sm=5 md=7 lg=4 xl=1
    </div>
  </lib-col>
  <lib-col xs="12" xsPush="0" sm="5" md="7" lg="9" xl="1">
    <div [ngStyle]="colStyle">
      xs=12  xsPush=0 sm=5 md=7 lg=9 xl=1
    </div>
  </lib-col>
  <lib-col xs="12" xsPush="1" sm="5" md="7" lg="9" xl="1">
    <div [ngStyle]="colStyle">
      xs=12  xsPush=1 sm=5 md=7 lg=9 xl=1
    </div>
  </lib-col>
  <lib-col xs="12" xsPush="2" sm="5" md="7" lg="9" xl="1">
    <div [ngStyle]="colStyle">
      xs=12  xsPush=2 sm=5 md=7 lg=9 xl=1
    </div>
  </lib-col>
  <lib-col xs="12" xsPush="3" sm="5" md="7" lg="9" xl="1">
    <div [ngStyle]="colStyle">
      xs=12  xsPush=3 sm=5 md=7 lg=9 xl=1
    </div>
  </lib-col>
  <lib-col xs="12" xsPush="4" sm="5" md="7" lg="9" xl="1">
    <div [ngStyle]="colStyle">
      xs=12  xsPush=4 sm=5 md=7 lg=9 xl=1
    </div>
  </lib-col>

  <lib-col xs="12" xsHidden xsPush="4" sm="5" md="7" lg="9" xl="1">
    <div [ngStyle]="colStyle">
      xs=12 xsHidden  xsPush=4 sm=5 md=7 lg=9 xl=1
    </div>
  </lib-col>
  <lib-col xs="12" smHidden xsPush="4" sm="5" md="7" lgPush="0" lg="9" xl="1">
    <div [ngStyle]="colStyle">
      xs=12 smHidden  xsPush=4 sm=5 md=7 lg=9 xl=1
    </div>
  </lib-col>
  <lib-col xs="12" mdHidden xsPush="4" sm="5" md="7" lg="9" xl="1">
    <div [ngStyle]="colStyle">
      xs=12 mdHidden  xsPush=4 sm=5 md=7 lg=9 xl=1
    </div>
  </lib-col>
  <lib-col xs="12" lgHidden xsPush="4" sm="5" md="7" lgPush="0" lg="9" xl="1">
    <div [ngStyle]="colStyle">
      xs=12 lgHidden  xsPush=4 sm=5 md=7 lg=9 xl=1
    </div>
  </lib-col>
</lib-container>


<lib-chart-collumn
  [isHorizontal]="isHorizontal"
  [data]="dataChart"
  [isYLegend]="isYLegend"
>
</lib-chart-collumn>

<!-- <lib-chart-collumn
>
</lib-chart-collumn> -->

<lib-text
  type="large"
  state="bold"
  className="testetsetdf"
>
  test
</lib-text>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<lib-col xs="12">
  <lib-card>

    <!-- <lib-col xs="12" [style]="myStyle"> -->
    <lib-col xs="12">
      <lib-chart-collumn
        [isHorizontal]="isHorizontal"
        [data]="dataChart"
        [isYLegend]="isYLegend"
        height="500"
      >
      </lib-chart-collumn>
  
      </lib-col>
    <!-- <lib-chart-collumn
      [isHorizontal]="isHorizontal"
      [data]="dataChart"
      [isYLegend]="isYLegend"
    >
    </lib-chart-collumn> -->
  
    <!-- sdljfhfklhbsl -->
  </lib-card>
</lib-col>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<lib-col xs="12">
  <lib-chart-line [data]="dataChartLine"></lib-chart-line>
</lib-col>



<router-outlet></router-outlet>